@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
	background-color: #fff;
	color: #732B80;
	margin: 0;
	font-family: 'Quicksand';
}

body.dark-mode {
	background-color:#242424;
	color: #9E53B6;
}

main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	width: 100%;
	background-color: #732B80;;
	padding: 16px;
	color:#9E53B6;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}

footer.dark-mode {
	background-color: #9E53B6;
	color:#732B80;;
}

button {
	border-radius: 40px;
	font-size: 1.5rem;
	height: 60px;
	width: 200px;
	border: none;
	background-color:#732B80;
	color: #B175C5;
	transition: all 0.3s linear;
		box-shadow: 25px 10px 10px 10px rgba(63, 57, 57, 0.295);
		cursor: pointer;
		}

button:hover {
	background-color: #9E53B6;
	border-radius:50%;
	color:#732B80; 
	width: 150px;
	height: 150px;
	
}

button.dark-mode {
	background-color: #9E53B6;;
	color: #732B80;
}

button.dark-mode:hover {
	background-color:#732B80;
	color:#B175C5;
}